@inject NavigationManager navManager

@if (Mode == DetModes.View)
{
    if (Entity != null)
    {
        <div class="row">
            <div class="col-9">
                <h1>@Entity.Term</h1>
                <p>@Entity.Meaning</p>
            </div>
            <div class="col-3 text-md-end">
                <p class="m-3">@((MemoTypes)Entity.TypeId)</p>
                <p class="m-3">@Entity.FullInfoStatus</p>
                <p class="m-3">@Entity.StudyStatus</p>
                <p class="alert-secondary m-3">@MemoSets</p>
            </div>
        </div>
        <img src="@Entity.Image"/>
        <div class="row">
            <MarkdownRenderer MarkdownContent=@Entity.Info/>
        </div>
    }
}
else if (Mode == DetModes.GridHeader)
{
    <tr>
        <td>Term</td>
        <td>Meaning</td>
        <td>Studing</td>
    </tr>
}
else if (Mode == DetModes.GridView)
{
    if (Entity != null)
    {
        <tr @onclick="(e => GoToMemo(Entity))">
            <td>@Entity.Term</td>
            <td>@Entity.Meaning</td>
            <td>
                @if (Entity.IsStudied)
                {
                    <img class="oi oi-check"/>
                }
                else if (@Entity.StudyPercentage > 0)
                {
                    <p>@Entity.StudyPercentage%</p>
                }
            </td>
        </tr>
    }
}

@code {
    [Parameter] public Memo? Entity { get; set; }
    [Parameter] public string MemoSets { get; set; } = "";
    [Parameter] public DetModes Mode { get; set; }

    void GoToMemo(Memo memo)
    {
        navManager.NavigateTo($"/memos/{memo.Id}");
    }
}
